/ <h2>Редактирование проекта <%= @project.id %></h2>
/ <form action="/projects/#{@project.id}/edit" method="patch">
/   <p>Введите название проекта</p>
/   <p><label><textarea name="@project.tittle"></textarea></label></p>
/   <p>Введите описание проекта</p>
/   <p><label><textarea name="@project.body"></textarea></label></p>
/   <p>Введите id пользователя</p>
/   <p><label><input type="number" name="@project.user_id"></label></p>
/   <p>Введите id проекта</p>
/   <p><label><input type="number" name="@project.id"></label></p>
/   <p><input type='submit' value="Редактировать"></p>
/ </form>

/ Редактирование проекта @project.id
= form_with(model: @project) do |form|
  .mb-3
    = form.label :tittle, class: 'form-label'
    = form.text_field :tittle, class: 'form-control'

  .mb-3
    = form.label :body, class: 'form-label'
    = form.text_area :body, class: 'form-control'

  .mb-3
    = form.submit class: 'btn btn-primary'
